.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 15px;
}

.quiz-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.quiz-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.quiz-card a:hover {
  color: #007bff;
}
